{{#each listProducts }}
     <h2>{{this.name}}</h2>
     <img src="{{this.url}}">
     <p>{{this.price}}R$</p>
    <p>Sobre: {{this.description}} </p>
    <footer><p>Produto Vendido por {{this.User.name}}</p></footer>
{{/each}}